@page "/Server/{Op}/{Id:int?}"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Server</h3>
<br />
<i class="fas fa-exclamation-circle text-danger"></i>
@if (server != null)
{
    <EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">

        <DataAnnotationsValidator></DataAnnotationsValidator>
        @* <ValidationSummary></ValidationSummary> *@

        <InputNumber @bind-Value="server.ServerId" hidden></InputNumber>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="server.Name" class="form-control"></InputText>
            </div>
            <div class="col">
                <ValidationMessage For="() => server.Name"><i class="fas fa-exclamation-circle text-danger"></i></ValidationMessage>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City</label>
            </div>
            <div class="col-6">
                <InputSelect class="form-select" @bind-Value="server.City">
                    <option disabled selected value="">Select city</option>
                    @foreach (var cityName in cities)
                    {
                        <option value="@cityName">@cityName</option>
                    }
                </InputSelect>
            </div>
            <div class="col">
                <ValidationMessage For="() => server.City"><i class="fas fa-exclamation-circle text-danger"></i></ValidationMessage>
            </div>
        </div>
        @if (enumOperation != OperationEnum.Add)
        {
            <div class="row mb-3">
                <div class="col-2">
                    <label class="col-form-label">Online</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input"></InputCheckbox>
                </div>
            </div>
        }
        <br />
        <button class="btn btn-primary" type="submit">@(enumOperation == OperationEnum.Edit ? "Update" : "Save")</button>
        <a href="/MainServer" class="btn btn-primary"> Close</a>

    </EditForm>
}
else
{
    <p> Server not found.</p>
    <a href="/MainServer" class="btn btn-primary"> Close</a>
}

@code {
    #region QueryParams
    [Parameter]
    public int Id { set; get; }
    [Parameter]
    public string? Op { set; get; }
    #endregion

    #region Properties
    [SupplyParameterFromForm]
    private ServerDetails? server { get; set; }
    private OperationEnum enumOperation { set; get; }
    public List<string> cities = CityRepository.GetCities();
    #endregion

    #region Default
    protected override void OnParametersSet()
    {
        if (Enum.TryParse(typeof(OperationEnum), Op, out object result))
        {
            enumOperation = (OperationEnum)result;
            switch (enumOperation)
            {
                case OperationEnum.Edit:
                    server ??= ServerDetailssRepository.GetServerDetailsById(this.Id);
                    break;
                case OperationEnum.Add:
                    server ??= new ServerDetails() { IsOnline = false };
                    break;
            }
        }
    }
    #endregion

    private void Submit()
    {
        if (server != null)
        {
            switch (enumOperation)
            {
                case OperationEnum.Edit:
                    ServerDetailssRepository.UpdateServerDetails(server.ServerId, server);
                    break;
                case OperationEnum.Add:
                    ServerDetailssRepository.AddServerDetails(server);
                    break;
            }
            NavigationManager.NavigateTo("/MainServer");
        }
    }
}
